<div class="#">
    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div class="#">
          <h4>
            <%=pluralize(@user.errors.count, "error") %> prohibited you from signing up:
          </h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg  %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="#">
      <%= f.text_field :name  %>
      <%= f.label :name, "Name" %>
    </div>


    <div class="#">
      <%= f.text_field :email  %>
      <%= f.label :email, "Email" %>
    </div>

    <div class="#">
      <%= f.text_field :username  %>
      <%= f.label :username, "Username" %>
    </div>

    <div class="#">
      <%= f.password_field :password %>
      <%= f.label :password, "Password" %>
    </div>

    <div class="#">
      <%= f.password_field :password_confirmation %>
      <%= f.label :password_confirmation, "Confirm password" %>
    </div>

    <div class="#">
      <%= f.label :gender, "Select a voice: " %>
      <br>
      <%= f.radio_button(:gender, "Ivy") %>
      <%= f.label(:gender, "Young girl") %><br>
      <%= f.radio_button(:gender, "Justin") %>
      <%= f.label(:gender, "Young boy") %><br>
      <%= f.radio_button(:gender, "Matthew") %>
      <%= f.label(:gender, "Man") %><br>
      <%= f.radio_button(:gender, "Joanna") %>
      <%= f.label(:gender, "Woman") %><br>
      <%= f.radio_button(:gender, "Joey") %>
      <%= f.label(:gender, "Man 2") %><br>
      <%= f.radio_button(:gender, "Kendra") %>
      <%= f.label(:gender, "Woman") %>
    </div>

    <div class="#">
      <%= f.submit "Submit" %>
    </div>

    <p>Already have an account? <%= link_to "Log in", new_user_path %></p>

    <% end %>
  </div>