<body id='profile'>
  <div id="container-profile">
    <h2>
      Welcome to your profile, <%= @user.username %>.
    </h2>


    <h3>Custom Keywords</h3>
      <% if @keywords %>
        <%= render partial: "partials/keywords_render_profile" %>
      <% end %>
    <h4><%= link_to "Create Keyword", "/keywords/new" %></h4>


    <h3>Custom Categories</h3>
      <% if @categories %>
        <%= render partial: "partials/categories_render_profile" %>
      <% end %>
    <h4><%= link_to "Create Category", "/categories/new" %></h4>
  </div>
</body>
