
<%= form_for @user, url: "voice/update", method: :put  do |f| %>
  <div class="field form-group form-inline">
    <%= f.label :gender, "Voice:", class: "control-label col-sm-2" %>

    <div class="field form-group gender-group">
            <%= f.radio_button(:gender, "Ivy") %>
            <%= f.label(:gender, "Girl", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Justin") %>
            <%= f.label(:gender, "Boy", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Kendra") %>
            <%= f.label(:gender, "Young Woman", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Joey") %>
            <%= f.label(:gender, "Young Man", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Joanna") %>
            <%= f.label(:gender, "Woman", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Matthew") %>
            <%= f.label(:gender, "Man", class: "radio-inline") %><br>

    </div>

    <div class="#">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
