
<body id="edit-voice">

  <%= form_for @user, url: "voice/update", method: :put  do |f| %>
    <div id="container-edit-voice">
  <h3>Change Voice Settings!</h3>
      <%= f.label :gender, "Voice:", class: "control-label choose-voice" %>

      <div class="field form-group form-inline row choose-voice">
          <div class="field form-group-1  col-sm-6">
            <%= f.radio_button(:gender, "Ivy") %>
            <%= f.label(:gender, "Girl", class: "radio-inline ") %><br>
            <%= f.radio_button(:gender, "Joanna") %>
            <%= f.label(:gender, "Female", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Kendra") %>
            <%= f.label(:gender, "Deep Female", class: "radio-inline") %><br>
          </div>

          <div class="field form-group-2 col-sm-6">
            <%= f.radio_button(:gender, "Justin") %>
            <%= f.label(:gender, "Boy", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Joey") %>
            <%= f.label(:gender, "Male", class: "radio-inline") %><br>
            <%= f.radio_button(:gender, "Matthew") %>
            <%= f.label(:gender, "Deep Male", class: "radio-inline") %><br>
          </div>
        </div>


      <div class="submit-edit">
        <%= f.submit "Submit", type: "submit", class:"btn btn-primary btn-lg btn-block" %>
      </div>




    </div>
  <% end %>
</body>
