<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('amzn1.application-oa2-client.71434277071542838663675abc39e0e6');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>

<div id="container">
<a href="#" id="LoginWithAmazon">
  <img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156" height="32" />
</a>

<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile' };
    amazon.Login.authorize(options, 'https://www.dbc-speak.com/handle_login.php');
    return false;
  };

</script>



	<audio id="sound" controls>
  	<source id="sound-src" src="" type="audio/mpeg">
	</audio>



	<div class="row navbar">

		<div class="col-md-1 navbar-home-button well navbar-item">
			home
		</div>

		<div class="col-md-10 navbar-controls well navbar-item">
			<div class="navbar-controls navbar-controls-text">
				<h3>
					<% if current_user %>
						<%= link_to current_user.username, user_path(current_user.id) %>
						<%= link_to "Logout", logout_path, method: "delete" %>
					<% else %>
						<%= link_to "Login", login_path %> |
						<%= link_to "Sign Up", new_user_path %>
					<% end %>
				</h3>
			</div>
		</div>

		<div class="populate-me">
			<div class="col-md-1 navbar-keyboard categories-col" data-category="Keyboard">
				<img src="/assets/icons/Keyboard.svg", alt="Keyboard", height="100px">
			</div>
		</div>
	</div>



	<div class="row sentence">

		<div class="col-md-1 speak">
			<%= image_tag 'icons/speak.png'%>
		</div>

		<div class="col-md-10 sentence-bar well"></div>

		<div class="col-md-1 delete-button">
			<img src="/assets/icons/backspace.png", alt="Backspace", height="75px">
		</div>
	</div>



	<div class="row empty-row"></div>

	<div class="populate-me last">
		<div class="main-populate-me">
			<%= render "partials/categories_render" %>
		</div>
		<% if session[:user_id] && @most_used %>
			<h1>Most Used</h1>
			<div class="most-used-populate-me">
				<% @most = @most_used %>
				<%= render "partials/most" %>
			</div>
			<h1>Most Recent</h1>
			<div class="most-recent-populate-me">
				<% @most = @most_recent %>
				<%= render "partials/most" %>
			</div>
		<% end %>
	</div>
</div>
