<div id="content-box">
	<div class="row navbar">
		<div class="col-md-1 navbar-home-button well navbar-item">
			Home
		</div>
		<div class="col-md-10 navbar-empty-space well navbar-item">
			Other content
		</div>
		<div class="col-md-1 navbar-keyboard well navbar-item">
			Keyboard
		</div>
	</div>
	<div class="row sentence">
		<div class="col-md-1 speak">
			speak
		</div>
		<div class="col-md-10 sentence-bar well">
			sentence-bar
		</div>
		<div class="col-md-1 delete-button">
			backspace
		</div>
	</div>
	<div class="row empty-row">

	</div>
	<div class="populate-me">
		<%= raw @html %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
	</div>
</div>