<div class="favor-div">
	<a href="//www.favordelivery.com"><img src="/assets/icons/favor.png", alt="favor", class="favor"></a>
	!!!!!!!!!!!!Order from Favor!!!!!!!!!!!!
</div>

<div id="content-box">
	<audio id="sound" controls>
  	<source id="sound-src" src="" type="audio/mpeg">
	</audio>
	<div class="row navbar">
		<div class="col-md-1 navbar-home-button well navbar-item">
			Home
		</div>
		<div class="col-md-10 navbar-controls well navbar-item">
			<div class="navbar-controls navbar-controls-text">
				<h3>
					<% if session[:user_id] %>
						<%= link_to "Logout", logout_path, method: "delete" %>
					<% else %>
						<%= link_to "Login", login_path %> | 
						<%= link_to "Sign Up", new_user_path %>
					<% end %>
				</h3>
			</div>
		</div>
		<div class="populate-me">
			<div class="col-md-1 navbar-keyboard categories-col">
				<img src="/assets/icons/Keyboard.svg", alt="Keyboard", height="100px">
				Keyboard
			</div>
		</div>
	</div>
	<div class="row sentence">
		<div class="col-md-1 speak">
			<img src="/assets/icons/speak.png", alt="Keyboard", height="100px">
		</div>
		<div class="col-md-10 sentence-bar well">
		</div>
		<div class="col-md-1 delete-button">
			<img src="/assets/icons/backspace.png", alt="Backspace", height="75px">
		</div>
	</div>
	<div class="row empty-row">

	</div>
	<div class="populate-me last">
		<%= raw @html %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
		<%= render "partials/words_row" %>
	</div>
</div>